# Xcode
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/
*.xccheckout
*.moved-aside

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/

# macOS
.DS_Store